.post {
  display: flex;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100%;
  box-shadow:  0 0 10px #ccc;
  background-color: white;
}

.post-content {
  flex: 1;
}

.post-title {
  margin-bottom: 8px;
}

.post-actions {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.post-actions svg {
  width: 100%;
  height: 100%;

  transition: color 0.2s, transform 0.2s;

  &:hover {
    color: darkblue;
    transform: scale(1.2);
  }
}
